@import "variables";

// Helpers.
.fill-current {
    fill: currentColor;
}

// Navigation.
.navbar {
    border-bottom: 1px solid $grey-200;

    .navbar-item {
        &.is-active {
            font-weight: 600;
        }
    }
}

// Forms.
.auth-box,
.app-box {
    .input {
        border-color: $grey-light;

        &:hover {
            border-color: $grey;
        }

        &:active,
        &:focus {
            border-color: $primary;
        }
    }
}

// Insert your global styles here.
