// Set your brand colors.
$bright-blue: #1c64f2;
$dark-blue: #1e429f;
$light-blue: #ebf5ff;
$white: #ffffff;

// Update Bulma's global variables.
$blue: $bright-blue;
$purple: #9333ea;
$red: #f43f5e;
$green: #22c55e;

$grey-900: #161e2e;
$grey-800: #252f3f;
$grey-700: #374151;
$grey-600: #4b5563;
$grey-500: #6b7280;
$grey-400: #9fa6b2;
$grey-300: #d2d6dc;
$grey-200: #e5e7eb;
$grey-100: #f4f5f7;
$grey-50: #f9fafb;

$grey-darker: $grey-900;
$grey-dark: $grey-800;
$grey: $grey-600;
$grey-light: $grey-400;
$grey-lighter: $grey-100;
$grey-lightest: $grey-50;

$family-sans-serif: "Nunito", sans-serif;
$dark: $grey-darker;
$text: $grey-dark;
$primary: $blue;
$link: $blue;
$info: $dark-blue;
$fullhd-enabled: false;

// Update some of Bulma's component variables.
$body-background-color: $grey-lighter;
$footer-background-color: $grey-lighter;

